.card {
    background-color: #390a64;
    width: 200px;
    height: 300px;
    border-radius: 25px;
    border: 2px solid #ffc45f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 22px;
    color: #ffc45f;
    text-align: center;
}

.loader-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loader {
    width: 300px;
    height: 300px;
}

.card__btn {
    display: inline-block;
    outline-color: blueviolet;
    outline-color: #551a8b;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 26px;
    color: #551a8b;
    background-color: #ffc45f;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1px solid #fff;
}

.card__btn:hover {
    color: #ffeae5;
    background-color: #7E41B3;
    outline-color: #ffeae5;
    transition: all .1s ease;
}
