.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    margin: 20px;
}

.loadercards-container {
    padding-top: 8%;
    height: 70vh;
}
