.not-found {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found__text {
    text-align: center;
    padding-top: 6%;
}

.not-found__heading {
    padding-bottom: 20px;
    text-transform: uppercase;
}

.not-found__img {
    display: inline-block;
}

.not-found__body {
    font-size: 24px;
    font-weight: 600;
}
